{% extends "base.html" %}
{% load static %}
	{% block content %}
		<div class="row">
			<div class="col">
				<div style="width: 200px;height: 200px;display: inline-block;border-radius: 50%;padding: 15px 25px;box-sizing: border-box;cursor: pointer;margin: 50px 55px;background-image: url({% static '/home/me.jpg' %});background-size:cover;">
				</div>
				<h1>Vladislav Ruskovoloshin</h1>
				<p>Programmer with knowledge in mathematics and a passion for problem solving. Worked as a research assistant at CSU East Bay in the area of self-organizing particle systems. Interested in using my skills and expertise in Python, C, C++, app development in the android environment, database management using MySQL, and machine learning. </p>
			
			</div>
			
		</div>
	{% endblock content %}
